body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6;
    
}
.frame-container{
    width: 100%;
    max-width: 1200px;
    height: 90vh;
    background: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.container{
    width: 100%;
    height: 100%;
    border: none;
    justify-content: center;
    align-items: center;
}
header {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-bottom: 2px solid #D2B2FA;
    
}
.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #C13DE2CC;
}
nav {
    display: flex;
    gap: 15px;
}
nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.profile-button {
    background: #D2B2FA;
    color: #D2B2FA;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-button img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.dropdown-menu {
    display: none;
            position: absolute;
            right: 0;
            top: 70px; 
            background: white;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding: 10px;
            z-index: 1000;
        }

.dropdown-menu a {
    display: block;
    padding: 8px 12px;
    color: black;
    text-decoration: none;
}
.dropdown-menu a:hover {
    background-color: #f0f0f0;
}
h2{
    text-align: left; 
    max-width: 500px; 
    margin: 20px auto 10px auto; 
}


.box {
    background: #eef3ff;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 20px;
    width: 80%;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.refund-box {
    background: #ffe6e6;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    color: red;
    width: 80%;
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgb(231, 9, 9);
}

select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #080808;
}
.btn-container {
    width: 40%;
    margin:auto;
    gap: 80px;
    display: flex;
    margin-top: 20px;
}
.back-btn, .confirm-btn {
    width: 40%;
    border: none;
    cursor: pointer;
    margin-left: auto;
}
.back-btn {
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}
.confirm-btn {
    background: #D2B2FA;
    color: white;
    box-shadow: 0 4px 6px #D2B2FA
}
select{
    width: 30%; 
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 12px;
    margin: auto 700px;
    
}
select:focus {
    outline: none; 
    background-color: #e6f0ff; 
    border-color: #8a74e8; 
}