
body {
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}
.container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    background: #f8f8f8;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    
}
.profile-pic {
    margin: 20px auto;
    width: 80px;
    height: 80px;
    background: #eac5fc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-pic img {
    width: 50px;
}
.input-group {
    
    margin-left: 500px;
    margin: 10px auto;
    width: 100%;
}
.input-group label {
    font-weight: 600;
    font-size: 12px;
    display: block;
    margin-bottom: 5px auto;
    margin: 10px auto;
}
.input-group input {
    margin: 10px auto;
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 4px 6px #8a74e8;
}
.delete-btn {
    width: 15%;
    background: white;
    color:black;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    border: 2px solid rgb(243, 104, 104); 
    background-color:  rgb(243, 104, 104);

}
.save-btn{
    width: 15%;
    background: white;
    color:black;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    border: 2px solid rgb(109, 243, 104); 
    background-color:  rgb(109, 243, 104);
}
.header-label{
    text-align: left;
    font-weight: bold;
    font-size: 13px; 
    margin-bottom: 5px;
    width: 50%;
    margin: 0 auto; 
    display: block;
}

.buttons{
    display: flex;
    gap: 70px;
    margin-top: 50px;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.bck{
    width: 5%;
    background: white;
    color:black;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color:  rgb(169, 170, 169);
    margin-top: 30px;

}